# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# minecraft runtime
/config/fabric/
/config/roughlyenoughitems/
/data/
/mods/
run/
logs/
*.log
*.log.gz
crash-reports/
saves/
screenshots/
options.txt
usercache.json
usernamecache.json

# jvm crash dumps
hs_err_pid*
replay_pid*
.attach_pid*
